MACH_O_TYPE = mh_dylib
DYLIB_CURRENT_VERSION = 3
DYLIB_COMPATIBILITY_VERSION = 1.0
PRODUCT_NAME = Keychain
WRAPPER_EXTENSION = framework
INFOPLIST_FILE = Resources/Info-Keychain.plist
FRAMEWORK_VERSION = A
GCC_PREPROCESSOR_DEFINITIONS = PSYSLOG_TO_STDERR=1 PDEBUG_TO_STDERR=1
LIBRARY_STYLE = BUNDLE
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) $(PROJECT_DIR)
