<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>delicious</string>
			<key>CFBundleTypeName</key>
			<string>delicious Bookmark</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ianhenderson.delicious.bookmark</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pinboard</string>
			<key>CFBundleTypeName</key>
			<string>pinboard Bookmark</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ianhenderson.pinboard.bookmark</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>delimport</string>
	<key>CFBundleIconFile</key>
	<string>delicious</string>
	<key>CFBundleIdentifier</key>
	<string>org.ianhenderson.delimport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>DeLi</string>
	<key>CFBundleVersion</key>
	<string>0.5b</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5b</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.safari.bookmark</string>
			</array>
			<key>UTTypeDescription</key>
			<string>delicious Bookmark</string>
			<key>UTTypeIdentifier</key>
			<string>org.ianhenderson.delicious.bookmark</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DELi</string>
				<key>public.filename-extension</key>
				<array>
					<string>delicious</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.safari.bookmark</string>
			</array>
			<key>UTTypeDescription</key>
			<string>pinboard Bookmark</string>
			<key>UTTypeIdentifier</key>
			<string>org.ianhenderson.pinboard.bookmark</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DELp</string>
				<key>public.filename-extension</key>
				<array>
					<string>pinboard</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
